{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Home page</title>
</head>
<body>
    <h2>Welcome to my first django website</h2>
    <p>I'm a {{name}}</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti molestiae placeat, atque explicabo natus nisi quos repellat debitis rerum, laudantium velit praesentium necessitatibus? Nam quos eligendi, quidem quae commodi consequatur.
    </p>
    <ol>
        <li>list item one</li>
        <li>list item two</li>
        <li>list item three</li>
        <li>list item four</li>
    </ol>
    <img src="https://unsplash.com/photos/a-person-swimming-in-a-body-of-water-XApv6X0ZIEo" alt="skuba diver" width="200" height="150">
</body>
</html>